apiVersion: apps/v1
kind: Deployment
metadata:
  name: websocket-service
  labels:
    app: websocket-service
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: websocket-service
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.dapr.enabled }}
        dapr.io/enabled: "true"
        dapr.io/app-id: "{{ .Values.dapr.appId }}"
        dapr.io/app-port: "{{ .Values.dapr.appPort }}"
        dapr.io/app-protocol: "{{ .Values.dapr.appProtocol }}"
        dapr.io/log-level: "{{ .Values.dapr.logLevel }}"
        dapr.io/enable-app-health-check: "{{ .Values.dapr.enableAppHealthCheck }}"
        dapr.io/app-health-check-path: "{{ .Values.dapr.appHealthCheckPath }}"
        dapr.io/config: "no-statestore"
        {{- if .Values.daprResources }}
        dapr.io/sidecar-cpu-limit: "{{ .Values.daprResources.limits.cpu }}"
        dapr.io/sidecar-memory-limit: "{{ .Values.daprResources.limits.memory }}"
        dapr.io/sidecar-cpu-request: "{{ .Values.daprResources.requests.cpu }}"
        dapr.io/sidecar-memory-request: "{{ .Values.daprResources.requests.memory }}"
        {{- end }}
        {{- end }}
      labels:
        app: websocket-service
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
      - name: websocket-service
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.command }}
        command: {{ .Values.command | toYaml | nindent 10 }}
        {{- end }}
        {{- if .Values.args }}
        args: {{ .Values.args | toYaml | nindent 10 }}
        {{- end }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        {{- with .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        env:
          {{- range $key, $value := .Values.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
        {{- with .Values.envFrom }}
        envFrom:
          {{- toYaml . | nindent 10 }}
        {{- end }}
